%section.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag url: '/', html: { class: "form form-inline" } do |f|
        %header.main-header.text-center
          %h1 What happened on your birthday?
        %h3.description Enter it here to find out
        %fieldset.search-box
          = f.number_field :day,   label: "Day"
          = f.number_field :month, label: "Month"
          = f.number_field :year,  label: "Year"
          %button.btn.btn-default(type="submit") Submit
  .row
    .col-sm-10.col-sm-offset-1.events
      - if @event
        %h2 #{@event.actor} #{@event.action} on #{@event.month} #{@event.day}, #{@event.year}
      - elsif @invalid
        = render 'layouts/messages'
      - else
        %h2 We can't think of anything historical that's happened on your birthday... you better make history!